server:
  port: 8090
  servlet:
    context-path: /api
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/gorillamusic?allowMultiQueries=true&useSSL=false&serverTimezone=GMT%2B8&characterEncoding=utf8
    username: root
    password: 546712
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    jedis:
      pool:
        max-active: 20
        max-wait: -1
        max-idle: 10
        min-idle: 0
    timeout: 2000  
  task:
    scheduling:
      pool:
        size: 5
mybatis:
  configuration:
    map-underscore-to-camel-case: true

#项目目录
project:
  folder: c:/webser/web_app/gorillamusic/
  #日志级别配置
log:
  root:
  level: debug